body {
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height:100vh;
    background-color: #e7e8de;
  }
  /*Create the card container*/
  .birthdayCard {
    position: relative;
    width: 250px;
    height:350px;
    zoom: 125%;
    cursor: pointer;
    transform-style: preserve-3d;
    transform: perspective(2500px);
    transition: 4s;
  }
  
  .birthdayCard:hover {
      transform: perspective(2500px) rotate(5deg);
      box-shadow: inset 100px 20px 100px rgba(0,0,0,.15), 0 10px 100px rgba(0,0,0,0.3);
  }
  
  .birthdayCard:hover .cardFront {
    transform: rotateY(-160deg); 
  }
  
  .birthdayCard:hover .front-text {
    display: none;
  }
  
  /*pode remover se quiser deixar o desenho*/
  .birthdayCard:hover .wrap-deco {
    display: none;
  }
  /**********/

  .birthdayCard:hover .wrap-decoTwo {
    display: none;
  }

  /*pode remover se quiser deixar o bolo*/
  .birthdayCard:hover .foto {
    display: none;
  }
   /**********/

  /*Style the front of the card*/
  .cardFront {
    position: relative;
    background-color: #D8E6E1;
    width: 250px;
    height:350px;
    overflow: hidden;
    transform-origin: left;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,.13), 30px 0 50px rgba(0,0,0,0.1);
    transition: .4s;
  }
  
  .happy, .year {
    position: relative;
    font-family: "satisfy", cursive;
    text-align: center;
    backface-visibility: hidden;
    font-size: 40px;
    line-height: 55px;
  }
  
  .happy {
    top: 180px;
    color: #E1B866;
  }
  
  .year {
    top:123px;
    color: #373B44;
  }
  
  .married {
    position: relative;
    font-family: 'Sofia Sans', sans-serif;
    font-weight: 600;
    font-size: 19px;
    text-align: center;
    top: 75px;
    left: -2px;
    color: rgba(55, 59, 68, 0.5);
  }
  
  .wrap-deco {
    position: absolute;
    top:-230px;
    left:-200px;
  }
  
  .decorations {
    position: absolute;
    width: 400px;
    height: 300px;
    border: 3px solid #333;
    border-radius: 50%;
  }
  
  .decorations:before, .decorations:after, .decorationsTwo:before, .decorationsTwo:after, .decorationsThree:before, .decorationsThree:after {
    content:"";
    position: absolute;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    width:0;
    height:0;
  }
  
  .decorations:before {
    border-top: 40px solid #73C8A9;
    top:297px;
    left:210px;
    transform: rotate(-5deg);
  }
  
  .decorations:after{
    border-top: 40px solid #E69AB2;
    top:288px;
    left:260px;
    transform: rotate(-17deg);
  }
  
  .decorationsTwo:before {
    border-top: 40px solid #BD5532;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .decorationsTwo:after, .decorationsThree:after {
    border-top: 40px solid #E1B866;
    top:238px;
    left:355px;
    transform: rotate(-40deg);
  }
  
  .wrap-decoTwo {
    transform: scaleX(-1);
    position: absolute;
    top:-230px;
    left:445px; 
  }
  
  .decorationsThree:before {
    border-top: 40px solid #73C8A9;
    top:268px;
    left:315px;
    transform: rotate(-30deg);
  }
  
  .foto {
    position: absolute;
    left: 75px;
    top: 120px;
  }

  .foto::after{
    visibility: hidden;
  }
  .foto img{
    width: 100px;
    padding: 3px;
    border-radius: 8px;
    background-color: #73C8A9;

  }

  /*Style the inside part of the card*/
  .cardInside {
    position: absolute;
    background-color: #fafffd;
    width: 250px;
    height:350px;
    z-index:-1;
    left:0;
    top:0;
    box-shadow: inset 100px 20px 100px rgba(0,0,0,0.2);
  }
  
  .inside-text {
    position: relative;
    top:-160px;
    transform: scale(0.7);
  }
  
  .wishes {
    position: relative;
    top: -130px;
    margin: 25px;
  }
  
  p {
    font-family: 'Sofia Sans', sans-serif;
    font-size: 13px;
    font-weight: 600;
    color: #373B44;
    text-align: justify;
  }
  
  .name {
    margin-top: 20px;
    text-align: center;
    font-size: 12px;
    font-weight: 700;
  }